* {
    box-sizing: border-box;
    margin:0px;
}

html, body {
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/resources/image/index01.jpg");
  	background-size: cover;
}

.wrapper {
	width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
}

.wrapper_main_title{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.wrapper_main_title h1{
    color: burlywood;
    font-weight: 800;
    font-size: 100px;
}

.wrapper_main_title p {
    text-align: center;
    color: burlywood;
}

.wrapper_login{
    width: 90px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color:transparent;
    color: burlywood;
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
}

.wrapper_login:hover {
    background-color:#40240E;
}


.wrapper_enter{
    width: 150px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    background-color:transparent;
    color:burlywood;
}

.wrapper_enter:hover {
    background-color:#40240E;
}

